*.swp
*~
target/
.classpath
.project
.settings/
.metadata/
.factorypath
harvester/src/main/java/tmp/
harvester/test/tmp
bin/
build/
dist/
nbproject/
vpproject/
*.jdbc
*.versionsBackup
mem.*
.DS_Store
deb-src
solr.log
install-stamp
/data/
logs/
solr/collection1/data/
solr/collection1/conf/*
masterkey-dal/generated-sources/
.vagrant/
lui-solr/
/mvn-install.log
*.retry
.idea/
*.iml