*.swp
*~
target/
.classpath
.project
.settings/
.metadata/
bin/
build/
dist/
nbproject/
vpproject/
*.jdbc
*.versionsBackup
mem.*
.DS_Store
deb-src
solr.log
install-stamp
/data/
logs/
solr/collection1/data/
