<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<listener>
		<listener-class>com.indexdata.utils.persistence.RequestScopedPersister</listener-class>
	</listener>
	<listener>
		<listener-class>com.indexdata.masterkey.localindices.scheduler.SchedulerUpDownListener</listener-class>
	</listener>
    <listener>
        <listener-class>com.indexdata.masterkey.localindices.notification.SenderFactory</listener-class>
    </listener>
	<context-param>
		<param-name>persistence-unit-name</param-name>
		<param-value>localindicesPU</param-value>
	</context-param>
	<context-param>
		<param-name>USER_CONFIG_PATH</param-name>
		<param-value>/etc/masterkey/harvester/harvester.properties</param-value>
	</context-param>
    <context-param>
        <param-name>HARVESTER_LOG_DIRECTORY</param-name>
        <param-value>/var/log/masterkey/harvester/harvester.log</param-value>
    </context-param>
	<servlet>
		<servlet-name>SchedulerStatusServlet</servlet-name>
		<servlet-class>com.indexdata.masterkey.localindices.scheduler.SchedulerStatusServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SchedulerStatusServlet</servlet-name>
		<url-pattern>/SchedulerStatusServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ServletAdaptor</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletAdaptor</servlet-name>
		<url-pattern>/records/*</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>SchedulerStatusServlet</welcome-file>
	</welcome-file-list>
	<!-- to be used only with JTA tx type <persistence-context-ref> <description>Persistence 
		context for the web services</description> <persistence-context-ref-name>persistence/localindicesPU</persistence-context-ref-name> 
		<persistence-unit-name>localindicesPU</persistence-unit-name> </persistence-context-ref> -->
</web-app>
