<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <context-param>
        <param-name>com.indexdata.masterkey.localindices.HarvestableDAO</param-name>
        <param-value>HarvestableDAOWS</param-value>
        <!--<param-value>HarvestableDAOJPA</param-value>-->
    </context-param>
    <context-param>
        <param-name>com.indexdata.masterkey.localindices.HarvestableDAO.WS_BASE_URL</param-name>
        <param-value>http://localhost:8084/localindices-harvester/records/harvestables/</param-value>
        <!--<param-value>http://localhost:8109/localindices-harvester/records/harvestables/</param-value>  -->
    </context-param>
    <context-param>
        <param-name>com.sun.faces.verifyObjects</param-name>
        <param-value>false</param-value>
    </context-param>
    <context-param>
        <param-name>com.sun.faces.validateXml</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
        <param-value>client</param-value>
    </context-param>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>PutCookie</servlet-name>
        <servlet-class>com.indexdata.masterkey.localindices.web.admin.PutCookie</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PutCookie</servlet-name>
        <url-pattern>/PutCookie</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>list_resources.xhtml</welcome-file>
    </welcome-file-list>
    <!-- security stuff-->
    <filter>
        <filter-name>AuthenticationCheckFilter</filter-name>
        <filter-class>com.indexdata.masterkey.localindices.web.admin.AuthenticationCheckFilter</filter-class>
        <init-param>
            <param-name>LOGIN_PAGE</param-name>
            <param-value>login.xhtml</param-value>
         </init-param>
         <init-param>
            <param-name>SU_COOKIE_NAME</param-name>
            <param-value>admin-superuser</param-value>
         </init-param>
    </filter>
    <filter-mapping>
        <filter-name>AuthenticationCheckFilter</filter-name>
        <url-pattern>*.xhtml</url-pattern>
    </filter-mapping>
    <!-- this is to limit all direct access to jsps-->
    <security-constraint>
        <display-name>jsp-constraint</display-name>
        <web-resource-collection>
            <web-resource-name>all-jsps</web-resource-name>
            <url-pattern>*.jsp</url-pattern>
        </web-resource-collection>
        <auth-constraint/>
    </security-constraint>
    <!-- DB access stuff -->
    <!-- only with JTA TX and injected EM
    <persistence-context-ref>
        <description>Persistence context for the web services</description>
        <persistence-context-ref-name>persistence/localindicesPU</persistence-context-ref-name>
        <persistence-unit-name>localindicesPU</persistence-unit-name>
    </persistence-context-ref>
    -->
</web-app>
