Source: masterkey-harvester
Section: misc
Priority: extra
Maintainer: Index Data <info@indexdata.com>
Build-Depends: debhelper (>= 5), default-jdk, maven2, unzip
Standards-Version: 3.8.0
Homepage: http://www.indexdata.dk/masterkey/harvester

Package: masterkey-harvester
Architecture: all
Description: The Harvester, part of the MasterKey suite 
provides a OAI-PMH and XML bulk harvesting, transformations 
using pipelines of XSL Transformations into indexes like Solr.

Package: masterkey-harvester-tomcat6
Architecture: all
Depends: tomcat6, masterkey-harvester
Description: Configuration of the Harvester for running under Tomcat 6

Package: masterkey-harvester-admin
Architecture: all
Depends:
Description: The Harvester Administration, part of the MasterKey suite

Package: masterkey-harvester-admin-tomcat6
Architecture: all
Depends: tomcat6
Description: Configuration of the Harvester Administration running under Tomcat 6



