#!/usr/bin/make -f

BASEPACKAGE = masterkey-harvester
BASEDIRECTORY = masterkey/harvester
BASE_SHARE_LOC = /usr/share/$(BASEDIRECTORY)
BASE_LOG = /usr/log/$(BASEDIRECTORY)

ENGINEPACKAGE = $(BASEPACKAGE)-engine
ENGINEROOT = $(CURDIR)/debian/$(ENGINEPACKAGE)
ENGINEDOC = $(ENGINEROOT)/usr/share/doc/$(ENGINEPACKAGE)

ADMINPACKAGE = $(BASEPACKAGE)-admin
ADMINROOT = $(CURDIR)/debian/$(ADMINPACKAGE)
#ENGINEDOC = $(ENGINEROOT)/usr/share/doc/$(ENGINEPACKAGE)

TOMCAT6PACKAGE = $(ENGINEPACKAGE)-tomcat6
TOMCAT6ROOT = $(CURDIR)/debian/$(TOMCAT6PACKAGE)
#TOMCAT6DOC = $(TOMCAT6ROOT)/usr/share/doc/$(TOMCAT6PACKAGE)
CATALINA_HOME= /var/lib/tomcat6

ADMINTOMCAT6PACKAGE = $(ADMINPACKAGE)-tomcat6
ADMINTOMCAT6ROOT = $(CURDIR)/debian/$(ADMINTOMCAT6PACKAGE)
#ADMINTOMCAT6DOC = $(ADMINTOMCAT6ROOT)/usr/share/doc/$(ADMINTOMCAT6PACKAGE)

UTIL_PACKAGE = $(BASEPACKAGE)-utils
UTIL_ROOT = $(CURDIR)/debian/$(UTIL_PACKAGE)

MYSQL_PACKAGE = $(BASEPACKAGE)-mysql
MYSQL_ROOT = $(CURDIR)/debian/$(MYSQL_PACKAGE)

clean:
	dh_testdir
	dh_testroot
	dh_clean build-stamp install-stamp
	# Commands to clean up after the build process follow.
	# Running under dpkg-buildpackage uses fakeroot by default (or
	# of course if it is explicitly requested using "-rfakeroot"),
	# which sets LD_PRELOAD to "libfakeroot-sysv.so".  For some
	# reason that I do not understand, this screws up maven's
	# "clean" target (though not its "install").  The upshot of
	# all this is that it's necessary to clear the LD_PRELOAD
	# environment variable before invoking "mvn clean".  *sigh*
	@echo LD_PRELOAD=$$LD_PRELOAD
	env LD_PRELOAD= mvn clean

WEBAPP = harvester/target/harvester harvester-admin/target/harvester-admin
build: $(WEBAPP)
$(WEBAPP):
	dh_testdir
#	env LD_PRELOAD= ./mvn_solr.sh package -Pproduction
#	env PATH=/bin:/sbin:/usr/bin:/usr/sbin:/usr/share/bina:/usr/lib/jvm/java-6-openjdk-amd64/bin mvn package
	pwd 
	env LD_PRELOAD= PATH=/bin:/sbin:/usr/bin:/usr/sbin:/usr/lib/jvm/java-6-openjdk-i386/bin/ mvn package
	touch $@

install: install-stamp
install-stamp: build
	dh_testdir
	dh_testroot
	dh_clean -k

	# Harvester core
	mkdir -p $(ENGINEROOT)/usr/share/masterkey/harvester/
	unzip harvester/target/harvester.war -d $(ENGINEROOT)/usr/share/masterkey/harvester/
	
	mkdir -p $(ENGINEROOT)/usr/share/doc/masterkey/harvester/
	cp README $(ENGINEROOT)/usr/share/doc/masterkey/harvester/

	mkdir -p $(ENGINEROOT)/etc/masterkey/harvester
	cp -p etc/harvester-context.xml $(ENGINEROOT)/etc/masterkey/harvester
	cp -p debian/tomcat.policy $(ENGINEROOT)/etc/masterkey/harvester
	mkdir -p $(ENGINEROOT)/var/log/masterkey/harvester
	ln -s /usr/share/masterkey/harvester/WEB-INF/web.xml $(ENGINEROOT)/etc/masterkey/harvester/web.xml

	# Harvester Admin core
	mkdir -p $(ADMINROOT)/usr/share/masterkey/harvester-admin
	unzip harvester-admin/target/harvester-admin.war -d $(ADMINROOT)/usr/share/masterkey/harvester-admin/

	mkdir -p $(ADMINROOT)/etc/masterkey/harvester-admin
	cp -p etc/harvester-admin-context.xml $(ADMINROOT)/etc/masterkey/harvester-admin
	cp -p debian/tomcat.policy $(ADMINROOT)/etc/masterkey/harvester-admin
	mkdir -p $(ADMINROOT)/var/log/masterkey/harvester
	ln -s /usr/share/masterkey/harvester-admin/WEB-INF/web.xml $(ADMINROOT)/etc/masterkey/harvester-admin/web.xml

	# Harvester plumbing for Tomcat 6 no longer includes files, just postinst
	
	# Harvester Admin plumbing for Tomcat 6 no longer includes files, 
	# just postinst

	# Harvester Utilities. Stylesheet used in includes needs to be in CATALINA_HOME
	mkdir -p $(UTIL_ROOT)$(CATALINA_HOME)
	cp -r harvester/src/main/webapp/WEB-INF/stylesheets/. $(UTIL_ROOT)$(CATALINA_HOME)

	# Harvester MySQL. Install (My)SQL scripts for installing the initial database 
	mkdir -p $(MYSQL_ROOT)/usr/share/masterkey/harvester/sql
	cp -r sql/. $(MYSQL_ROOT)/usr/share/masterkey/harvester/sql/


	touch $@

binary: build install
	dh_testdir
	dh_testroot
	dh_installdocs
	dh_installchangelogs
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

.PHONY: build clean binary-indep binary-arch binary install
