// This is way more permissive than the Service Proxy actually needs.

grant codeBase "file:/usr/share/masterkey/service-proxy/-" {
  permission java.security.AllPermission;
};
