# Zebra configuration file used by the localindices-harvester
# assumes that the zebra-examples package is installed.

#BIB-1 attr set
attset:bib1.att

# profilePath - where to look for config files e.g /usr/share/idzebra-2.0/tab
profilePath: /var/cache/harvested:/usr/share/idzebra-2.0/tab

# modulePath - where to look for loadable zebra modules
modulePath:  ../../index/.libs:/usr/lib/idzebra-2.0/modules

# store records and record keys internally
storeData: 1
storeKeys: 1

# use the DOM XML filter with config file dom-conf.xml
#recordtype: dom./var/cache/harvested/dom-conf.xml


# where to put registers, and other var content, and how large they may be
register: /var/cache/harvested/reg-new:100G
shadow: /var/cache/harvested/shadow-new:100G
lockdir: /var/cache/harvested/lock-new
keytmpdir: /var/cache/harvested/tmp-new

# enable pre-sorting of hit lists according to static rank
#staticrank: 1

# use rank sorting filter
#rank: rank1

# add extended services - global access
#perm.anonymous: rw

# add extended services - login/password 
#perm.anonymous: r
#perm.admin: rw
#passwd: passwordfile
